.member-main{
  margin: 70px 0 20px;
  left: 0;
}

.member-all{
  display: flex;
}

.member-profile{
  width: 250px;
}

.member-image{
  width:150px;
  height: auto;
}

.member-position-class{
  color: white;
  background-color: crimson;
  width: 80px;
  text-align: center;
  border-radius: 5px;
}

.member-profile{
  list-style: none;
}

.member-tasks-class{
  margin-top: 15px;
  background-color: honeydew;
  color: darkgreen;
  border-radius: 3px;
  width: fit-content;
}

