.user-page-main{
  margin: 70px 0 20px;
  left: 0;
  display: flex;
}

.user-page-left{
  padding-top: 5px;
  width: 25%;
}

.user-information-edit{
  margin-left: 40px;
}

.user-information-edit_btn{
  color: dodgerblue;
  font-size: 13px;
}

.user-task-left-content{
  margin: 10px 20px 10px;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: cornflowerblue;
  color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px cornflowerblue;
  border: dashed 1px #FFF;
}

.user-left-content{
  margin: 10px 20px 10px;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: lightcoral;
  color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px lightcoral;
  border: dashed 1px #FFF;
}

.user-page-right{
  padding-right: 20px;
  width: 75%;
  margin-bottom: 30px;
}

.task-calendar-class{
  width: 100%;
}

.task-calendar-title{
  background: linear-gradient(transparent 70%, #d2a6f0 70%);
  margin-bottom: 10px;
  margin-top: 20px;
}

.task-calendar-list{
  font-size: 12px;
}

.task-calender-list-btn{
  color: dodgerblue;
  margin: 0;
}

.schedule-total-class{
  display: flex;
  justify-content: space-between;
}

.schedule-calendar-class{
  width: 48%;
  font-size: 12px;
}

.total-calendar-class{
  width: 48%;
  font-size: 12px;
}

.schedule-calendar-title{
  background: linear-gradient(transparent 70%, #e5f0a6 70%);
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.total-calendar-title{
  background: linear-gradient(transparent 70%, #9db9ec 70%);
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.schedule-total-calendar-list{
  list-style: none;
}